[Unit]
AssertPathExists=%$CORE%

[Service]
WorkingDirectory=%$CORE%
Environment=CORE=%$CORE%
Environment=PYTHONPATH=%$CORE%/core/lib/core
ExecStart=%$CORE%/core/scripts/RestartServer.py --force
Restart=no
KillMode=process
NoNewPrivileges=true
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=default.target
